//Основные цвета
$primary1: #F13C6E;
$primary2: #ffffff;
$primary3: #EFEFEF;

//Цвета текста
$title-text-color: #000000;
$link-text-color: #000000;//Хоть сейчас цвкет одинаковый, нов  будущем он может поменяться, поэтому создаем отдельную переменную
$main-text-color: #ffffff;
$info-text-color: #333333;